/* Imported Fonts */

/* Iceland */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Homemade+Apple&family=Iceland&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Style+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* World Elements */
:root{
    --primary-bg:#E84A4A;
    --Secondary-bg:#2C0F14;
    --txt-color-1:#FFFFFF;
    --txt-color-2:#E84A4A;
    --free-use:black;
}

/* Predefiend-styles */

/* Fonts */
.txt-1{
    font-family: "Big Shoulders", sans-serif;
    color: var(--primary-bg);
    font-size: 20px;
    margin: 0;
}

.txt-2{
    font-family: "Iceland", sans-serif;
    color: var(--txt-color-1);
    font-size: 25px;
    margin: 0;
}

/* Borders */
.borders{
    border: 1px solid var(--primary-bg);
    border-radius: 5px;
    /* border-top-color: var(--Secondary-bg); */
}

/* Predefiend-styles closes */

/* Web opens */
.web{
    height: 100vh;
    /* padding: 20px; */
    background: var(--Secondary-bg);
}

/* Web closes */

/* Profile container opens */
.profile-container{
    /* background: gray; */
    width: 15%;
    height: 90%;
    position: fixed;
    left: 2%;
    top: 5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

/* Profile opens */

.profile{
    width: 100%;
    height: 80%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.img-container{
    padding: 5px;
    width: 100%;
    height: 35%;
}

img{
    width: 100%;
    height: 100%;
}

/* Profile closes */

/* Settings open */
.settings{
    width: 100%;
    height: 18%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings form,div{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: start;
    align-items: center;
}

form input{
    outline: none;
}

.settings div i{
    color: var(--txt-color-1);
}

.settings p {
    margin: 0;
    display: inline;
    cursor: pointer;
}

.settings p:hover{
    color: var(--txt-color-1);
}

/* settings closes */

/* Profile container closes */

/* Navigation Bar Container */
.nav-bar-container{
    width: 79%;
    height: 20%;
    position: fixed;
    right: 3%;
    bottom: 5%;
}
/* Navigation Bar Container closes*/

/* Display Container opens*/
.display-container{
    width: 79%;
    height: 68%;
    position: fixed;
    right: 3%;
    top: 5%;
    display: flex;
    overflow: auto;
}

.display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Display Container closes*/







